body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: brown;
        color: #fff;
        text-align: center;
        display: grid;
        align-items: center;
        font-family: 'Montserrat';
        font-size: 3em;
        padding: 2em;
}

body, html {
        height: calc(100% - 4em);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}